**/images/
**/trigger_images/*.png
**/trigger_images/*.jpg
**/trigger_images/*.jpeg
**/trigger_images/*.gif
**/trigger_images/*.bmp
**/trigger_images/*.tiff
**/trigger_images/*.svg
**/trigger_images/*.webp
**/history_images/*.png
**/history_images/*.jpg
**/history_images/*.jpeg
**/history_images/*.gif
**/history_images/*.bmp
**/history_images/*.tiff
**/history_images/*.svg
**/history_images/*.csv


